@import "tailwindcss";

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-show {
  animation: show 0.7s ease-out forwards;
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.85) translateY(10px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-popup {
  animation: popup 0.3s ease-out;
}
