@import "tailwindcss";

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-show {
  animation: show 0.7s ease-out forwards;
}
